* {
    margin: 0;
    padding: 0;
}
.background-box {
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: grid;
    height: 100vh;
}
.background-box::-webkit-scrollbar { 
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

[class*="img-"] {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.img-background {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    display: block;
    margin: auto;
    z-index: 1;
}

.img-cloud {
    position: relative;
    top: -100vh;
    left: 0;
    height: 100vh;
    margin: auto;
    z-index: 3;
}

.sun-box {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}
.img-sun {
    height: 100vh;
    margin: auto;
}

.player-box {
    position:absolute;
    top: 90vh;
    left: 0px;
    height: 3.5vh; /* 14px player height / 400px image height */
    z-index: 3;
    display: none;
}
.img-player {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    margin: auto;
}