* {
    margin: 0;
    padding: 0;
}
.background-box {
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: grid;
    height: 100vh;
}
.background-box::-webkit-scrollbar { 
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

[class*="img-"] {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

[class*="text-"] {
    z-index: 5;
    font-size: 2.25vmin;
    font-family: "Lucida Console", Courier, monospace;
}

.text-center {
    text-align: center
}

.boxes {
    width: 600vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.column {
  float: left;
  width: 50%;
}

.horizontal-box {
    width: 150vh;
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
}

.text-intro {
    position: absolute;
    top: 25vh;
    left: 5vmin;
    max-width: 50vmin;
}

.box-image {
    position: absolute;
    top: 10vh;
    left: 55vmin;
    max-width: 45vmin;
    z-index: 3;
}

.image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
}
li {
    margin: 10px 0;
}
