* {
    margin: 0;
    padding: 0;
}
.background-box {
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: grid;
    height: 100vh;
}
.background-box::-webkit-scrollbar { 
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

[class*="img-"] {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.img-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    display: block;
    margin: auto;
    z-index: 1;
}

.img-cloud {
    position: absolute;
    top: 0vh;
    left: 0vh;
    height: 100vh;
    margin: auto;
    z-index: 4;
}

.sun-box {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}
.img-sun {
    height: 100vh;
    margin: auto;
}

.player-box {
    position:absolute;
    top: 90vh;
    left: 0px;
    height: 3.5vh; /* 14px player height / 400px image height */
    z-index: 4;
    display: none;
}

.img-player {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    margin: auto;
}

[class*="text-"] {
    z-index: 5;
    font-size: 2.25vmin;
    font-family: "Lucida Console", Courier, monospace;
}

.boxes {
    width: 600vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.horizontal-box {
    width: 150vh;
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
}

.text-intro {
    position: absolute;
    top: 25vh;
    left: 5vmin;
    max-width: 50vmin;
}

.box-image {
    position: absolute;
    top: 10vh;
    left: 55vmin;
    max-width: 45vmin;
    z-index: 3;
}

.image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.text-about {
    position: absolute;
    top: 22vh;
    left: 5vmin;
    max-width: 50vmin;
}

li {
    margin: 10px 0;
}

.video-box {
    position: absolute;
    top: 10vh;
    left: 55vmin;
    max-width: 65vmin;
    z-index: 5;
}

.text-last {
    position: absolute;
    top: 22vh;
    left: 35vmin;
    max-width: 50vmin;
}

.box-image-last {
    position: absolute;
    top: 10vh;
    left: 85vmin;
    max-width: 45vmin;
    z-index: 3;
}